<mat-card class="container">
  <h1>{{header}}</h1>
  <form #todoForm="ngForm" (ngSubmit)="save()">
    <div>
      <mat-form-field>
        <input matInput placeholder="Title" type="text" [(ngModel)]="todo.title" #title name="title" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="Status" name="status" [(ngModel)]="todo.status">
          <mat-option *ngFor="let status of [1, 2]" [value]="status">
            {{Status[status]}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="List" name="list" [(ngModel)]="todo.list" required>
          <mat-option *ngFor="let list of lists|async" [value]="list.title">
            {{list.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Due" [(ngModel)]="due" name="due">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Created" type="text" [value]="todo.created | date: 'short'" readonly name="created">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <textarea matInput placeholder="Description" type="text" [(ngModel)]="todo.description" name="description"></textarea>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button type="submit" [disabled]="!todoForm.form.valid">save</button>
      <button mat-raised-button [routerLink]="['/todo/list']">cancel</button>
    </div>
  </form>
</mat-card>