<mat-sidenav-container class="container">
  <mat-sidenav #sidenav position="end">
    <mat-list>
      <mat-list-item>
        <button mat-button [routerLink]="['/todo/list']" routerLinkActive="active-link" (click)="sidenav.close()">Todos</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['/list/list']" routerLinkActive="active-link" (click)="sidenav.close()">Lists</button>
      </mat-list-item>
      <mat-list-item *ngIf="isAdmin">
        <button mat-button [routerLink]="['/user/list']" routerLinkActive="active-link" (click)="sidenav.close()">Users</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
    <button mat-button (click)="sidenav.open()" class="navButton" *ngIf="!isNavHidden">
      <i class="open material-icons">menu</i>
    </button>
  </div>

</mat-sidenav-container>