<mat-card class="container">
  <h1>Your personal todo list</h1>
  <form #loginForm="ngForm" (ngSubmit)="login()">
    <div>
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="user.username" #username name="username">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="password" placeholder="Passwort" [(ngModel)]="user.password" name="password">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button type="submit">Login</button>
    </div>
    <div>
      <a [routerLink]="['/user/register']">register</a>
    </div>
  </form>
</mat-card>