<div class="container">

  <div class="header">
    <mat-form-field>
      <mat-select placeholder="List" name="list" [formControl]="listSelect" class="list">
        <mat-option *ngFor="let list of lists |async" [value]="list.title">
          {{list.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="controls">
    <div>
      <div [hidden]="orderSelect.value !== 'order'">
        Show only open todos:
        <mat-slide-toggle [formControl]="showOnlyOpen"></mat-slide-toggle>
      </div>
    </div>

    <div>
      <mat-form-field>
        <mat-select placeholder="Order" name="order" [formControl]="orderSelect">
          <mat-option *ngFor="let order of orders" [value]="order">
            {{order}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <todo-list-item *ngFor="let todo of todos | async " [todo]="todo" (onStatusChange)="changeStatus($event)" (onDelete)="delete($event)">
  </todo-list-item>

  <button mat-fab [routerLink]="['/todo/form']" class="addButton">
    <i class="open material-icons">add</i>
  </button>
</div>