@import '../../../shared/styles/variables.scss';

@media (min-width: $screen-sm-min) {
  .container {
    margin: 25px 25%;
  }
}

.noItemsContainer {
  text-align: center;
}

.addButton {
  position: fixed;
  margin-right: 25%;
  right: 0px;
  bottom: 30px;
}

.controls {
  display: flex;
  justify-content: space-around;
  transition: height 0.5s ease-in-out;
  height: 66px;
  overflow: hidden;
}
.controls.closed {
  height: 0px;
}

.controls > div {
  flex-grow: 1;
  text-align: center;
}

div.header {
  position: relative;
  display: flex;
  justify-content: center;
}

.toggleControls {
  position: absolute;
  right: 0;
  bottom: 0;
}

mat-select.list {
  font-size: 42px;
}
