.container {
  margin: 25px 25%;
}

.addButton {
  position: fixed;
  margin-right: 25%;
  right: 30px;
  bottom: 30px;
}

.controls {
  display: flex;
  align-items: center;
}

.controls > div {
  flex-grow: 1;
}
