<mat-card [ngClass]="{'done': isDone(), 'notDone': !isDone()}">

  <div class="container">
    <div class="title">
      {{todo.title}}
      <span *ngIf="!!todo.due" [ngClass]="{'due': isDue(), 'notDue': !isDue()}">
        ({{todo.due | date:short}})
      </span>
    </div>
    <div *ngIf="todo.description">
      <button mat-button (click)="openDialog()">
        <i class="material-icons">info_outline</i>
      </button>
    </div>
    <div class="status">
      <button mat-button *ngIf="todo.status === Status.done" (click)="changeStatus(todo)">
        <i class="done material-icons">done</i>
      </button>
      <button mat-button *ngIf="todo.status === Status.open" (click)="changeStatus(todo)">
        <i class="open material-icons">clear</i>
      </button>
    </div>
    <div class="drawer" [ngClass]="{'closed': isDrawerClosed}">
      <div>
        <button mat-button [routerLink]=" [ '/todo/edit', todo.id] ">
          <i class="material-icons">mode_edit</i>
        </button>
      </div>
      <div>
        <button mat-button (click)="delete(todo) ">
          <i class="material-icons">delete</i>
        </button>
      </div>
    </div>
    <div>
      <button mat-button (click)="toggleDrawer()" class="toggleDrawer">
        <i class="material-icons">more_vert</i>
      </button>
    </div>
  </div>
</mat-card>