<mat-card>

  <div class="container">
    <div class="title">
      {{todo.title}}
      <span *ngIf="!!todo.due" [ngClass]="{'due': isDue(), 'notDue': !isDue()}">
        ({{todo.due | date:short}})
      </span>
    </div>
    <div class="status">
      <button mat-button *ngIf="todo.status === Status.done" (click)="changeStatus(todo)">
        <i class="done material-icons">done</i>
      </button>
      <button mat-button *ngIf="todo.status === Status.open" (click)="changeStatus(todo)">
        <i class="open material-icons">clear</i>
      </button>
    </div>

    <div>
      <button mat-button [routerLink]="['/todo/edit', todo.id]">
        <i class="material-icons">mode_edit</i>
      </button>
    </div>
    <div>
      <button mat-button (click)="delete(todo)">
        <i class="material-icons">delete</i>
      </button>
    </div>
  </div>
</mat-card>