<mat-card [ngClass]="{'done': isDone(), 'active': isActive}">

  <div class="container" (click)="activate(todo)">
    <div class="indicator"></div>
    <div class="title">
      {{todo.title}}
      <span *ngIf="!!todo.due" [ngClass]="{'due': isDue(), 'notDue': !isDue()}">
        &nbsp;({{todo.due | date:short}})
      </span>
    </div>
    <div *ngIf="todo.description">
      <button mat-button (click)="openDialog()">
        <i class="material-icons">info_outline</i>
      </button>
    </div>
    <div class="status">
      <button mat-button class="changeStatus" (click)="changeStatus(todo)">
        <div class="square">
          <i class="material-icons" [ngClass]="{done: todo.status === Status.done}">done</i>
        </div>
      </button>
    </div>
    <div class="drawer" [ngClass]="{'closed': isDrawerClosed}">
      <div *ngIf="showMove" class="move">
        <i (click)="move('up', todo)" class="material-icons">expand_less</i>
        <i (click)="move('down', todo)" class="material-icons">expand_more</i>
      </div>
      <div>
        <button mat-button [routerLink]=" [ '/todo/edit', todo.id] ">
          <i class="material-icons">mode_edit</i>
        </button>
      </div>
      <div>
        <button mat-button (click)="delete(todo) ">
          <i class="material-icons">delete</i>
        </button>
      </div>
    </div>
    <div>
      <button mat-button (click)="toggleDrawer()" class="toggleDrawer">
        <i class="material-icons">more_vert</i>
      </button>
    </div>
  </div>
</mat-card>