.container {
  display: flex;
}

.title {
  flex-grow: 1;
}

.status {
  cursor: pointer;
}

i.done {
  color: green;
  font-weight: bold;
}

i.open {
  color: red;
  font-weight: bold;
}

.due {
  color: red;
  font-weight: bold;
}
.notDue {
  color: green;
  font-weight: bold;
}

mat-card.done {
  background-color: #bdecb6;
}
mat-card.notDone {
  background-color: #ff7878;
}
