.container {
  display: flex;
}

.title {
  flex-grow: 1;
}

.status {
  cursor: pointer;
}

.done {
  color: green;
  font-weight: bold;
}

.open {
  color: red;
  font-weight: bold;
}

.due {
  color: red;
  font-weight: bold;
}
.notDue {
  color: green;
  font-weight: bold;
}
