.container {
  display: flex;
}

.title {
  flex-grow: 1;
}

.status {
  cursor: pointer;
}

i.done {
  color: green;
  font-weight: bold;
}

i.open {
  color: red;
  font-weight: bold;
}

.due {
  color: red;
  font-weight: bold;
}
.notDue {
  color: green;
  font-weight: bold;
}

mat-card {
  margin: 3px;
}

mat-card {
  background-color: rgba(255, 0, 0, 0.1);
  &.done {
    background-color: rgba(0, 255, 0, 0.1);
  }
}

.drawer {
  display: flex;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
  width: 176px;
}
.drawer.closed {
  width: 0px;
}
