<mat-card class="container">
  <form #registerForm="ngForm" (ngSubmit)="save()">
    <div>
      <mat-form-field>
        <input matInput placeholder="Username" type="text" [(ngModel)]="register.username" #username name="username">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" [(ngModel)]="register.password" #password name="password">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input type="password" matInput placeholder="Confirm Password" [(ngModel)]="register.confirmPassword" #confirmPassword name="confirmPassword">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button type="submit">save</button>
      <button mat-raised-button [routerLink]="['/login']">cancel</button>
    </div>
  </form>
</mat-card>